{% extends 'main.html' %} {% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <!-- {% include 'navbar.html' %} --><!-- This looks into the same dir including anything using Jinja -->

    <!-- <p>Hello you are on the {{page}} page.</p>

    {% if number > 10 %}
    <p>Number is greater than 10</p>
    {% elif number == 10%}
    <p>Number is exactly 10</p>
    {% else %}
    <p>Number is equal to or less than 10</p>
    {% endif %} -->

    <h1>Projects</h1>

    <table>
      <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Votes</th>
        <th>Score</th>
      </tr>
      {% for project in projects %}
        <tr>
          <td>{{project.id}}</td>
          <td>{{project.title}}</td>
          <td>{{project.vote_total}}</td>
          <td>{{project.vote_ratio}}%</td>
          <td>{{project.created}}</td>
          <td><a href="{% url 'project' project.id %}">View</a></td>
        </tr>
      {% endfor %}
    </table>

    <!-- <ul>
      {% for project in projects %}  -->
        <!-- This is not django way(why?)--><!-- <li>Title: <a href="/project/{{project.id}}">{{project.title}}</a> --- {{project.description}}</li> -->
        <!-- <li>Title: <a href="{% url 'project' project.id %}">{{project.title}}</a></li>     
      {% endfor %}
    </ul> -->

    <!-- <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p> -->
  </body>
</html>

{% endblock content %}
